.home {
    width: 50vw;
    height: 90vh;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 1px solid gray;
    color: var(--color-darkblue);
    border-radius: .3rem;
}

.input {
    margin: 1rem;
}

.input label {
    font-size: 1.3rem;
    margin-right: .7rem;
}

.inputSearch {
    height: 2.2rem;
    width: 18rem;
    border-radius: .2rem;
}

.inputSearch::placeholder {
    font-size: 1.1rem;
    padding: .4rem;
}

select {
    height: 2.2rem;
    font-size: 1.1rem;
    margin: .7rem;
    padding: .3rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: .2rem;
}

option {
    background-color: white;
} 

/* .container_card {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

article.card {
    background-color: white;
    margin: .7rem;
    width: 7rem;
    padding: .9rem;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img.thumbnail {
    width: 4rem;
    margin: 0.7rem;
    border: 1px solid gray;
    padding: .3rem;
}

span.person-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: .3rem;
}

button {
    width: 10rem;
    color: var(--color-white);
    background: var(--color-green);
    
    font-weight: bold;
    padding: 1rem;
    margin: 1.2rem;
    border-radius: .4rem;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: var(--color-greenLght);
}

